.regBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  max-width: 300px;
  border: 2px solid rgb(41, 20, 20);
  border-radius: 14px;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  background: gold;
  box-shadow: 0 -240px 100px -120px crimson inset;
  animation: background 3s infinite alternate;
  padding: 100px 0 140px 0;
}

@keyframes background {
  50% {
    border: 2px solid rgb(216, 21, 251);
    background: rgb(82, 49, 85);
    box-shadow: 0 -200px 100px -100px rgb(205, 50, 200) inset;
  }
}


input {
  max-width: 200px;
  background-color: rgba(10, 10, 10, 0.26);
}
input::placeholder {
  color: #000;
}


.inputValue {
  box-shadow: 0 -240px 100px -120px crimson inset;
  animation: background 3s infinite alternate;
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
  background-color: rgba(10, 10, 10, 0.26);
  border: 2px solid rgb(41, 20, 20);
  border-radius: 14px 14px 0 0;
  flex-direction: column;
  overflow: hidden;
  margin-top: 20px;
  padding-left: 10px;
}
.inputValue:hover {
  border: 2px solid rgb(210, 33, 33);
  animation: none;
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.553);
  box-shadow: none;
  border-radius: 0;
  color: rgb(174, 13, 13);
}

.result {
  font-weight: bold;
}

button {
  /* box-shadow: 0 -240px 100px -120px crimson inset; */
  background-color: rgba(0, 0, 0, 0.058);
  transition: 0.2s;
  border: 2px solid #000000b2;
  cursor: pointer;
}
button:active {
  border: 2px solid rgb(210, 33, 33);
  background-color: rgba(10, 10, 10, 0.738);
  animation: none;
  box-shadow: none;
  color: rgb(174, 13, 13);
}

